#header {
        background-image: url(images/bg.png);
        height: 35vh;
        /* width: 50vh; */
        background-repeat: no-repeat;
        border: 3px solid black;
}

.main-section {
        margin-top: 250px;
}